<header class="navbar">
    <a href="/" class="logo" data-translate="brandName">Gpa Calculator College</a>
    <nav>
        <ul>
            <li><a href="/gpa-calculator" data-translate="gpaCalculator">GPA Calculator</a></li>
            <li><a href="/highschool-gpa" data-translate="gpaPlanning">High School GPA</a></li>
            <li><a href="/gpa-planning" data-translate="gpaPlanning">GPA Planning</a></li>
            <li><a href="/prior-semester-gpa" data-translate="FinalGPA">Final GPA Calculate</a></li>
            <li class="language-switcher-container">
                <select id="language-switcher" style="width: 120px;">
                    <option value="en" data-translate="langEnglish">English</option>
                    <option value="ar" data-translate="langArabic">Arabic</option>
                    <option value="pt" data-translate="langPortuguese">Portuguese</option>
                    <option value="ru" data-translate="langRussian">Russian</option>
                    <option value="es" data-translate="langSpanish">Spanish</option>
                    <option value="de" data-translate="langGerman">German</option>
                </select>
            </li>
        </ul>
    </nav>
</header>
