<head>
    <meta name="robots" content="noindex, nofollow">
    </head>
<header class="navbar">
    <a href="/" class="logo" data-translate="brandName">GradeWise</a>
    <nav>
        <ul>
            <li><a href="/" data-translate="gpaCalculator">GPA Calculator</a></li>
            <li><a href="/gpa-planning" data-translate="gpaPlanning">GPA Planning</a></li>
            <li class="language-switcher-container">
                <select id="language-switcher">
                    <option value="en" data-translate="langEnglish">English</option>
                    <option value="ur" data-translate="langUrdu">Urdu</option>
                </select>
            </li>
        </ul>
    </nav>
</header>